@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* this is 255 is temp beacaue of not showing text in dev */
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer base {
  h1 {
    @apply font-extrabold text-2xl mb-3;
  }
}